$primary-color: #444;
$secondary-color: #eece1a;
$show-image: true;
$background-img: url(../img/background.jpg);
$bg-opacity: 0.9;

@mixin ease_in {
  transition: all 0.5s ease-in;
}
@mixin background {
  @if $show-image {
    &#image {
      background: $background-img;
      background-attachment: fixed;
      background-size: cover;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: rgba($primary-color, $bg-opacity);
      }
    }
  }
}
